.container {
  margin-top: 36px;
}

.wrapper {
  border: 1px solid gray;
  height: 360px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vehicleType {
  font-size: 26px;
}