.container {
  width: 680px;
  border: 1px solid red;
}

.filterButtons {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.filterButtons button {
  border: 1px solid gray;
  border-radius: 6px;
  height: 70px;
  width: 100%;
  margin: 12px;
}